<nz-header class="menu-header">
  <div class="menu-left">
    <a class="logo" routerLink="/">MyShop</a>
    <button nz-button routerLink="/my_orders">Rendeléseim</button>
  </div>

  <div class="menu-right">
    <div>
      <div style="padding: 20px">
        <app-cart-drawer></app-cart-drawer>
      </div>

      <div class="products-grid">
        <app-item-card *ngFor="let p of products" [item]="p"></app-item-card>
      </div>
    </div>
    <button
      style="margin-right: 20px"
      *ngIf="authService.role() === 'admin'"
      nz-button
      nzType="primary"
      routerLink="/admin"
    >
      Rendelések
    </button>
    <button
      style="margin-right: 20px"
      *ngIf="authService.role() === 'admin'"
      nz-button
      nzType="primary"
      routerLink="/inventory"
    >
      Raktárkészlet
    </button>

    <button nz-button (click)="onLogout()">Kijelentkezés</button>
  </div>
</nz-header>
